.header{
    background-color: rgba(229, 84, 115, 0.10);
}
header{
    margin: 0;
}
.first{
    display: flex;
    gap: 80px;
}
header{
    font-family: 'Lato', sans-serif;
}
.head-title{
    color: #272727;
    
    font-size: 75px;
    font-style: normal;
    font-weight: 800;
    
    padding: 100px 85px 0 200px;
    /* border: 1px solid black; */
}
.head-img{
    width: 500px;
    height: 700px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 0px;
}
.head-desc{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-left: 200px;
    padding-top: 0px;
    padding-bottom: 10px;
    /* border: 1px solid black; */

}
.allbutt{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 200px;
    border: none;
        
}
.feature{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    padding-top: 100px;
}
.new{
    text-align: center;
    padding-left: 500px;
    padding-right: 500px;
}

.list{
    display: flex;
    gap: 24px;
    padding-left: 300px;
}
.capt{
    
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
.flow{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 360px;
    height: 500px;
    ;
}
.second-list{
    display: flex;
    margin-right: 150px;
    margin-left: 270px;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 30px 150px 100px 200px;
    gap: 30px;
    width: 750px;
    height: 40px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    
}
.notun{
    width: 88px;
height: 88px;
flex-shrink: 0;
} 
.aro-notun{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    }

.third-list{
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    gap: 150px;
    padding-top: 30px;
    padding-bottom: 70px;
    margin-bottom: 100px;
    margin-top: 80px;
    
}
#css{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-left: 300px;
padding-top: 150px;
}
#css2{
    color: rgba(39, 39, 39, 0.60);
text-align: center;

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding-left: 270px;
}
#css3{
    padding-right: 300px;
    padding-top: 100px;
}
 #css4{
    margin-left: 480px;
    
} 
#holo{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#bolo{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 40;
    line-height: 30px;
    padding: 0 500px;
}
.fifth{
    display: flex;
    gap: 15px;
    margin-top: 30px;
    padding-left: 230px;
}
.idd{
    width: 280px;
    height: 320px;
}
.sixth{
    /* background-image: ; */
    width: 1440px;
    height: 449px;
}
#dss{
    color: #272727;
    /* text-align: center; */
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    padding-top: 100px;
}
#dss2{
    color: rgba(39, 39, 39, 0.60);
    padding-left: 60px;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding-right: 20px;
    padding-bottom: 50px;
    
}
.box{
    width: 700px;
    height: 64px;
    margin-left: 250px;
    margin-bottom: 100px;
    border: none;
    color: rgba(39, 39, 39, 0.60);
    text-align: left;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 15px;
}
.dorkar{
    margin-left: 010px;
    border: none;
}
.sixth{
    background-image: url("../styles/Rectangle\ 9.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 150px;
    margin-right: 500px;
}
.end{
    background-color: #111010;
}
#end1{
    color: #E55473;
    font-family: Lato;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 100px;
}
.end2{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-left: 500px;
    padding-right: 500px;
}
.end3{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 150px;
}